body {
    margin: 0;
    background-color: rgb(200, 212, 247);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}

section.jogo {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    border: 5px solid #2a2dc5; 
    border-radius: 20px; 
    padding: 20px;
}

div.carta {
    margin: 5px;
    width: 100px; 
    height: 100px; 
    border-radius: 9px;
    background-image: url("img/reverse_clear.png");
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.75); 
    cursor: pointer; 
}

div.carta:hover {
    background-color: rgba(55, 52, 236, 0.75);
}

.fimDeJogo {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: #D6676E 5px dotted;
    border-radius: 70px;
    padding: 15px;
    background-color: rgba(165, 212, 54, 0.75);
}

.reiniciar {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

.reiniciar:hover {
    background-color: #45a049;
}

h1 {
    margin: 0;
    color: #D6676E;
    font-family: 'Courgette', cursive;
    font-size: 80px;
}

.aparecer {
    display: block;
}
